@page "/justice-league"

@using JusticeLeague.Client
@using JusticeLeague.Client.Models
@using Microsoft.Extensions.Options

@inject ILogger<Heroes> Logger

@rendermode InteractiveServer

<PageTitle>Heroes</PageTitle>

<h3>Heroes</h3>

<button class="btn btn-primary" @onclick="GetMeHeroes">Get me Hero</button>

@code {

    [Inject(Key = "Anonymous")]
    public JusticeLeagueClient TheLeague { get; set; } = default!;

    List<JusticeLeague.Client.Models.Hero>? JusticeLeagueHeroes { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // if(TheLeague is not null)
        // {
        //     this.JusticeLeagueHeroes = await TheLeague.Heroes.GetAsync();
        // }

        await base.OnInitializedAsync();
    }



    public async Task GetMeHeroes()
    {
        var heroes = await TheLeague.Heroes.GetAsync();

        if (heroes is not null)
        {
            foreach (var h in heroes)
            {
                //Logger.LogInformation($"{h.Id} - {h.CivillianName} - {h.Superpower}");
                Console.WriteLine($"{h.Id} - {h.CivillianName} - {h.Superpower}");
            }
        }
    }

}
